<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon-32x32.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <!-- Base CSS -->
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <title>Page doesn't exist</title>
</head>

<body>
    <nav class="navbar-top navbar navbar-expand-lg navbar-dark py-10">
        <div class="container-fluid">
            <div id="navbar-branding" class="navbar-brand"></div>
        </div>
    </nav>
    <nav class="navbar-two navbar navbar-expand-lg">
        <div class="container-fluid">
            <div id="navbar-branding" class="navbar-brand">
                <img src="/img/film-icon.png" alt="The Movie Database" width="30" height="30">
                &nbsp;The Movie Database&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </nav>
    <h2 id="error-msg">The page that you're looking for doesn't exist...</h2>
    <footer class="container-fluid col text-center font-weight-light">
        &copy; 2022 jh-mini-project.herokuapp.com, all rights reserved
    </footer>
</body>

</html>